div {
    display:  inline-block;
    text-align: center;
    padding: 10px;
}

.navbar button {
    padding: 7px;
    margin-left: 10px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: lightskyblue;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

.menuBox div {
    display: inline-block;
    margin: 5px;
}

.menuItem {
    width: 300px;
    background-color: lightskyblue;
    cursor: pointer;
    color: white;
    padding : 5px;
}

.menuItem:hover {
    background-color: skyblue;
}